body {
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1560703342-24e20bcd2ae0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80);
    background-size: 120%;
}

* {          
    border: 0.5px solid rgba(0, 0, 0, 0);
    font-family: 'Libre Baskerville', serif;
    color: white;



}



#box {   
    height: 500px; 
}


#logo {
    display: inline-block;
    margin: 50px;
    font-size: 2em;
    color: white;
    letter-spacing: 7px;
}

nav a {
    border-bottom: 0.5px solid #EAE1D7;
    padding: 7px 0;

}

a{
    text-decoration: none;
}

nav div {
    float: right;
    letter-spacing: 3px;
    padding: 70px;
}

nav div a {
    margin-left: 30px;
}

nav a:hover {
    background-color: rgba(142, 161, 142, 0.658);

}

#content {
    padding: 30px;
    width: 50%;
    margin-top: 100px;
    letter-spacing: 2.5px;
    
}

#content a {
    border: 0.5px solid #EAE1D7;
    padding: 10px 15px;
    background-color: rgba(142, 161, 142, 0.658);
}

#content p {
    margin: 40px 0;
}

#content a:hover {
    background-color: rgba(0, 0, 0, 0);

}

#button {
    text-align: center;
}

#button a {
    margin-top: 6%;
    border: 2px solid #EAE1D7;
    padding: 30px 30px;
    background-color: rgba(0, 0, 0, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

#button a.button-mr {
    margin-right: 100px;
}

#button a:hover {
    background-color: rgba(142, 161, 142, 0.658);
}

footer {
    background-color: rgba(142, 161, 142, 0.658);
    /* 定位：固定 psf */
    position: fixed;
    /* 底部距離 0 b0 */
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    /* 行高與高度相同：垂直至中，僅限一行內容 */
    line-height: 60px;
    letter-spacing: 2px;
}

#about {
    width: 800px;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1501784050997-975d9fdb56d8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    /* 邊框 bd */
    border: 30px solid #fff;
    /* 區塊陰影：左右位移 上下位移 模糊量 顏色 */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
    /* 外距：上 右 下 左 */
    margin: 100px auto 0 auto;
    /* 水平置中 tac */
    text-align: center;
    /* 垂直置中 一行文字 */
    line-height: 500px;
    /* 文字大小 fz20 */
    font-size: 20px;
    /* 文字陰影 ts - 與區塊陰影相同 */
    text-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
